body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	background-color: whitesmoke;
}

h2 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.navbar {
	font-size: 16px;
	list-style-type: none;
	margin: 40px 40px 0px 40px;
	padding: 0px;
	animation: fadeIn 1s;
}

.full-name, .short-name {
	font-size: 30px;
	padding: 0px;
	letter-spacing: 1px;
}

.short-name {
	display: none;
}

.instagram-button {
	font-size: 22px;
	min-width: 22px;
}

#return {
	display: inline-block;
	margin: 0px 40px 0px 40px;
	text-transform: uppercase;
}

#return i {
	margin-left: 10px;
	padding-right: 5px;
}

#return p {
	display: inline-flex;
	margin: 0px;
}

#subheader h2 {
	margin: 0px;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

li {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	color: black;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: inherit;
}

.instagram-button, .gallery-button, .home-button {
	float: right;
	vertical-align: center;
}

#albums {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
	row-gap: 40px;
	margin: 50px 50px;
}

#albums img {
	width: 100%;
	aspect-ratio: 1.0;
	object-fit: cover;
	border-radius:7px;
	display: block;
}

.album-cover {
	position: relative;
	text-align: center;
	color: black;
	animation: fadeIn 1s;
}

.album-description {
	width: 100%;
}

.album-cover:hover img {
	opacity: 0.5;
	transition: .5s ease;
}

.album-cover:hover .album-description {
	color: black;
	opacity: 1.0;
}

.grid {
	margin: 0px 50px;
	padding: 10px 0px 50px 0px;
}

.grid img {
	width: 100%;
	object-fit: cover;
	display: block;
	transition: 0.3s all ease;
	cursor: pointer;
	border-radius: 5px;
}

.grid img:hover {
	transform: scale(0.95);
}

.grid-item {
	width: 32%;
	margin-bottom: 2%;
}

.gutter-sizer { width: 2%; }

.modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	z-index: 1;
	overflow: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

.modalContent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalImg {
	margin-top: 20px;
	max-width: 80%;
	max-height: 80%;
	border-radius: 5px;
	image-rendering: crisp-edges;
}

.modalText {
	margin-top: 20px;
}

.close {
	position: absolute;
	top: 15px;
	right: 30px;
	font-size: 30px;
	cursor: pointer;
}

.close:hover {
	transform: scale(1.1);
}

.modal.appear {
	opacity: 1;
	pointer-events: all;
}

.modal.appear .modalImg, .modal.appear .modalText {
	transition: opacity 0.15s ease-out;
}

@media screen and (max-width: 950px) {	
	#albums {
		grid-template-columns: 1fr 1fr;
	}
	.grid-item {
		width: 48%;
	}
}

@media screen and (max-width: 650px) {	
	.full-name {
		display: none;
	}
	.short-name {
		display: inline-block;
	}
	#albums {
		grid-template-columns: 1fr;
	}
	.grid-item {
		width: 100%;
	}
}