<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gallery</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
	<script src="https://kit.fontawesome.com/7913c79751.js" crossorigin="anonymous"></script>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/js/header.js"></script>
</head>
<body>
	<div id="header"></div>
</body>
</head>
</html>