<ul class="navbar">
	<li id="name"><a href="/">kavya</a></li>
	<li id="selected-album-name"> </li>
	<li class="menu-button">
		<div id="menu-icon">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</li>
	<span class="collapsable-nav">
		<a href="/"><li id="home-button">Home</li></a>
		<a href="/gallery"><li id="gallery-button">Gallery</li></a>
		<a href="https://www.instagram.com/kavs.b/" target="_blank" rel="noopener noreferrer">
			<li id="instagram-button"><i class='bx bxl-instagram bx-sm'></i></li></a>
	</span>
</ul>