<div class="grid-item">
    <img src="photos/IMG_0222.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0243.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0364.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0222.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0243.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0364.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0222.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0243.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0364.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0222.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0243.jpg"/>
</div>
<div class="grid-item">
    <img src="photos/IMG_0222.jpg"/>
</div>