<div class="album-cover">
		<div class="album-description">
			<h2>Italy</h2>
			<p>March-April 2023</p>
		</div>
		<img src="photos/IMG_0222.jpg"/>
</div>
<div class="album-cover">
		<div class="album-description">
			<h2>Italy</h2>
			<p>March-April 2023</p>
		</div>
		<img src="photos/IMG_0243.jpg"/>
</div>
<div class="album-cover">
		<div class="album-description">
			<h2>Italy</h2>
			<p>March-April 2023</p>
		</div>
		<img src="photos/IMG_0364.jpg"/>
</div>
<div class="album-cover">
		<div class="album-description">
			<h2>Italy</h2>
			<p>March-April 2023</p>
		</div>
		<img src="photos/IMG_0243.jpg"/>
</div>
<div class="album-cover">
		<div class="album-description">
			<h2>Italy</h2>
			<p>March-April 2023</p>
		</div>
		<img src="photos/IMG_0222.jpg"/>
</div>